@import "../../styles/colors.scss";

.button {
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  border: 1px solid $waterloo;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  color: $waterloo;
  background-color: none;
  cursor: pointer;
}

.active {
  background-color: $waterloo;
  color: $white;
}
